/*
1) COLOR SCHEME. Preferably plain and simple with maybe a greyish background?
2) Sign Up and Sign In boxes need to be corrected.
3) Home, Practice, About sections needs to be aligned properly.
4) Entire countdown timer. Something like the image I sent. I think it's countdown.jpeg 
5) Put a "Learn More" link underneath the countdown timer. When the user clicks on it, he/she will be directed to a page that contains the rules for the competition. 
6) The width of the countdown timer changes everytime the number of digits change from 2 to 1 or vice-versa.
*/


 h1{
    position: relative; top:80px;
    text-align: center;
  }
  table {
      position: relative; top:100px;
      text-align: center;     
  }

  p{
    position: relative; top:100px;
    text-align: center;

  }
  .row1 td {
      height: 200px;
      background-color: aqua;      
      color: white;
      font-size: 100%;
  }

  .row2 {
    font-size: 150%;
  }

  .row2 td {
      font-weight: bold;
      text-transform: uppercase;
      color: black;
  }

  #days {
      padding: 3%;
      font-weight: bold;
      font-size: 600%;
      background: #fa5559;
  }

  #hours {
      padding: 3%;
      font-weight: bold;
      font-size: 600%;
      background: #26c2b9;

  }

  #minutes {
      padding: 3%;
      font-weight: bold;
      font-size: 600%;
      background: #f6bc58;
     
  }

  #seconds {
      padding: 3%;
      font-weight: bold;
      font-size: 600%;
      background: #2dcb74;
  }

.main_content {
  margin: 0 2%;
}
